<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    <a href="#">
                    <img src="/img/Icon/Up.png" align="right" height="25">
                    </a></div>
                <hr>
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <div class="copyright text-muted">
                    <span id="Time_Born">👵</iframe>
                        <br>
                    <span id="Time_Blog">👴</iframe>
                <script>
                var BornDate = new Date("1993/06/11 00:00:00");
                function ShowRunTime(id) {
                var NowDate_Born = new Date();
                var RunDateM_Born = parseInt(NowDate_Born - BornDate);
                var RunDays_Born = Math.floor(RundateM_Born/(24*3600*1000));
                var RunHours_Born = Math.floor(RundateM_Born%(24*3600*1000)/(3600*1000));
                var RunMinutes_Born = Math.floor(RundateM_Born%(24*3600*1000)%(3600*1000)/(60*1000));
                var RunSeconds_Born = Math.round(RundateM_Born%(24*3600*1000)%(3600*1000)%(60*1000)/1000);
                var RunTime_Born = RunDays_Born + "天" + RunHours_Born + "时" + RunMinutes_Born + "分" + RunSeconds_Born + "秒";
                document.getElementById("Time_Born").innerHTML = "在今生已然等你：" + RunTime_Born;
                }setInterval("ShowRunTime('Time_Born')", 1000);
                </script>
                <script>
                    var BlogDate = new Date("2021/07/04 00:00:00");
                    function ShowRunTime(id) {
                    var NowDate_Blog = new Date();
                    var RundateM_Blog = parseInt(NowDate_Blog - BlogDate);
                    var RunDays_Blog = Math.floor(RundateM_Blog/(24*3600*1000));
                    var RunHours_Blog = Math.floor(RundateM_Blog%(24*3600*1000)/(3600*1000));
                    var RunMinutes_Blog = Math.floor(RundateM_Blog%(24*3600*1000)%(3600*1000)/(60*1000));
                    var RunSeconds_Blog = Math.round(RundateM_Blog%(24*3600*1000)%(3600*1000)%(60*1000)/1000);
                    var RunTime_Blog = RunDays_Blog + "天" + RunHours_Blog + "时" + RunMinutes_Blog + "分" + RunSeconds_Blog + "秒";
                    document.getElementById("Time_Blog").innerHTML = "于此地依然等你：" + RunTime_Blog;
                    }setInterval("ShowRunTime('Time_Blog')", 1000);
                    </script>
                </div>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                     On My <a href="{{ site.github_repo }}">GitHub</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_username }}.github.io&type=star&count=true" >
                    </iframe>
                    <br>
                    <a href="https://ukokugemini.github.io/2022/12/07/%E7%BD%91%E7%AB%99%E5%BC%80%E5%8F%91%E6%97%A5%E5%BF%97/">
                    <img src="https://badgen.net/badge/Website Version /[1.0.9.0]">
                    </a>
                    <img src="https://badgen.net/github/commits/UkokuGemini/UkokuGemini.github.io/MainBranches">
                    <br><br>
                    <img src="https://count.getloli.com/get/@UkokuGemini Blog?theme=rule34" height="90">
                    <br>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/hux-blog.min.js " | prepend: site.baseurl }}"></script>
<!-- 
     Because of the native support for backtick-style fenced code blocks 
     right within the Markdown is landed in Github Pages, 
     From V1.6, There is no need for Highlight.js, 
     so Huxblog drops it officially.

     - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0  
     - https://help.github.com/articles/creating-and-highlighting-code-blocks/ 
     - https://github.com/jneen/rouge/wiki/list-of-supported-languages-and-lexers   
-->
<!--
    <script>
        async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
    </script>
    <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->

<!-- Side Catalog -->
{% if page.catalog %}
<script type="text/javascript">
    function generateCatalog (selector) {
        var P = $('div.post-container'),a,n,t,l,i,c;
        a = P.find('h1,h2,h3,h4,h5,h6');
        a.each(function () {
            n = $(this).prop('tagName').toLowerCase();
            i = "#"+$(this).prop('id');
            t = $(this).text();
            c = $('<a href="'+i+'" rel="nofollow">'+t+'</a>');
            l = $('<li class="'+n+'_nav"></li>').append(c);
            $(selector).append(l);
        });
        return true;    
    }

    generateCatalog(".catalog-body");

    // toggle side catalog
    $(".catalog-toggle").click((function(e){
        e.preventDefault();
        $('.side-catalog').toggleClass("fold")
    }))

    /*
     * Doc: https://github.com/davist11/jQuery-One-Page-Nav
     * Fork by Hux to support padding
     */
    async("{{ '/js/jquery.nav.js' | prepend: site.baseurl }}", function () {
        $('.catalog-body').onePageNav({
            currentClass: "active",
            changeHash: !1,
            easing: "swing",
            filter: "",
            scrollSpeed: 700,
            scrollOffset: 0,
            scrollThreshold: .2,
            begin: null,
            end: null,
            scrollChange: null,
            padding: 80
        });
    });
</script>
{% endif %}

<!-- //引用stevenjoezhang項目live2d-widget項目默認接口api--> 
<script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>

<script src="https://cdn.nesxc.com/js/leaves.js"></script>

