<!-- Js -->
<script src="/js/douban.js"></script>
<!--打字效果-->
<script src="https://cdn.bootcss.com/typed.js/2.0.9/typed.min.js"></script>
<!--自部署·一言-->
<script src="/js/hitokoto.js"></script>
<!--计时-->
<script src="/js/siteTime.js"></script>
<!-- require APlayer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
<!--网站限制-->
<script type="text/javascript">
document.onkeydown = function()
{
//禁用F12
//if(window.event && window.event.keyCode == 123){event.keyCode=0;event.returnValue=false;}
//禁止ctrl+s
if (event.ctrlKey && window.event.keyCode==83){return false;}
}
</script>
<script>
    //网站禁止选择文字
        document.body.onselectstart = function() {
        self.event.returnValue=false
    };
</script>
<script>
        //网站禁止右键
        document.body.oncontextmenu = function() {
        self.event.returnValue=false
    };
</script>
<!--选择性表达Js-->
<script type="text/javascript">
    var sUserAgent = navigator.userAgent.toLowerCase();
    if (/ipad|iphone|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/.test(sUserAgent)) {}
    else if(screen && screen.width<768){}
    else {
        document.write('<script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"><\/script>');
        document.write('<script src="https://cdn.nesxc.com/js/leaves.js"><\/script>');
        document.write('<script src="/js/ClickBoom.js"><\/script>');
        document.write('<script src="/js/NetEffect.js"><\/script>');
        document.write('<script src="/js/CurStar.js"><\/script>');
    }
</script> 
<!--配合/js/CurStar光标拖带-->
<span class="js-cursor-container"></span>