<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include js.html %}

    <script type="text/javascript">
        function browserRedirect() {
               var sUserAgent = navigator.userAgent.toLowerCase();
               if (/ipad|iphone|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/.test(sUserAgent)) {}
               elseif(screen && screen.width<768){}
               else{{% include jsPlus.html %}}
           } 
           browserRedirect();
    </script>
<!-- Image to hack wechat -->
<img alt="·" src="/img/WebSite/NightCrow-32.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
</body>
</html>
