<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/WebSite/NightCrow-32.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
    
<!-- //引用stevenjoezhang項目live2d-widget項目默認接口api--> 
<script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
    
</body>

</html>
