---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                    <!-- span id="TypedSubheading" style="white-space: pre-wrap;line-height: 30px;">|</span>-->
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 " style="text-align:right">  
                <span id="hitokoto" class="subheading" style="color:gainsboro"></span>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
        <div class="
        col-lg-8 col-lg-offset-2
        col-md-10 col-md-offset-1
        sidebar-container">
        <!-- Music -->
        {% if site.BgmSources %}
            <hr>
            <h5>MUSIC</h5>
            {% for BgmSource in site.BgmSources %}
            <meting-js
            name="{{ BgmSource.name }}"
            artist="{{ BgmSource.artist }}"
            url="{{ BgmSource.src }}"
            cover="{{ BgmSource.cover }}"
            autoplay="true"
            loop="one"
            preload="auto"
            mutex="true"
            list-folded="true">
            </meting-js>
            {% endfor %}
        {% endif %}
        </div>
	</div>
</div>